[Unit]
Description=Webhook Server
After=network.target

[Service]  
ExecStart=/usr/local/bin/webhook -hooks /home/ubuntu/hooks.json -port 9000 -verbose

[Install]
WantedBy=multi-user.target
